<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a User</h1>
    <a href="http://127.0.0.1:5000/users">Home</a>
    <form action="/users/edituser" method="POST">
    <input type = "hidden" value = "{{user['id']}}" name = "id">
    <label for="fname">First Name:</label>
    <input type="text" placeholder = "{{user['first_name']}}" name="fname">
    <label for="lname">Last Name:</label>
    <input type="text"placeholder="{{user['last_name']}}" name="lname">
    <label for="email" >Email:</label>
    <input type="text" placeholder ="{{user['email']}}"name="email">
    <input type="submit" value="Edit">
</body>
</html>