<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, world!</title>
</head>
<body>
    <div id = "containter">
    <h1>Counter</h1>
    <h2>{{times}} Times</h2>
    <div class="but">
        <button></button>
        <button></button>
    </div>
    </div>
</form>
</body>
</html>



