<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
<table>
    {%for i in range(y):%}
    <tr>
        {%for j in range(0,x):%}
    <td class= 'darksquare'></td>
    <td class = 'lightsquare'></td>
        {%endfor%}  
    </tr>
    <tr>
        {%for j in range(0,x):%}
    <td class= 'lightsquare'></td>
    <td class = 'darksquare'></td>
        {%endfor%}  
    </tr>
    {%endfor%}
</table>
</body>
</html>