<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class='container'>
        <div class = 'row'>
            <div class = 'col'>
                <form action="/register" method="POST">
                    <h1>Register:</h1>
                    <label>First Name:</label>
                    <input type = "text" name="first">
                    <label>last Name:</label>
                    <input type = "text" name="last">
                    <label>Email:</label>
                    <input type = "text" name="email">
                    <label>Password:</label>
                    <input type = "text" name="password">
                    <label>Confrim Password:</label>
                    <input type = "text" name="confpassword">
                    <input type="submit" value="Create">
                </from>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class = 'row'>
            <div class = 'col'>
                <from action = "/login" method="POST">
                    <h1>login:</h1>
                    <label>Email:</label>
                    <input type = "text" name="email">
                    <label>Password:</label>
                    <input type = "text" name="password">
                    <input class = "btn btn-dark" type='submit' value = login'>
                </from>
            </div>
        </div>
    </div>
</body>
</html>